
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


<script type= "text/javascript">

        $(document).ready(function(){
            console.log('analy data = ', "{{monthly_transactions_dict_list}}")
             $(document).on('click', '#remove_account_yes', function() {
                // DO something
            });
        }); 
        
        function expand_invites(company_id){
            //DO something
        }
        </script>


<ul style="list-style-type: none;">
    {% for trans_obj in monthly_transactions_dict_list %}
        <li>{{ forloop.counter }} | {{ trans_obj.month_year }} | {{trans_obj.bank}} | {{ trans_obj.card_number }} | {{ trans_obj.total_amount }} | {{ trans_obj.total_trans }}</li>
    {% endfor %}
</ul>