
<html lang="en">

	<head>

		<meta charset="utf-8">


		<title>Task Management System - Tasks</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> <!-- for jquery -->

		<script type= "text/javascript">
		    $(document).on('click', '#AddTaskButton', function() {
		    	$('#add_task_form').show()
		    });

		    $(document).on('click', '#cancel_create_task', function() {
		    	$('#add_task_form').hide()
		    });

		    $(document).on('click', '#hide_completed_tasks', function() {
		    	if ($('#hide_completed_tasks').text() == 'Hide completed tasks'){
		    		$('.completed').hide()
		    		$('#hide_completed_tasks').text('Show all tasks') 
		    	}
		    	else{
		    		$('.completed').show()
		    		$('#hide_completed_tasks').text('Hide completed tasks') 
		    	}
		    });

		</script>

	</head>

	<body>

		<header>

			<!-- Fixed navbar -->
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"> 
				<a class="navbar-brand" href="/todolist">Energy Labs Task Management System</a>
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<ul class="navbar-nav mr-auto">

							<li class="nav-item"><a href="/todolist/logout/" class="nav-link">Log Out</a></li>

						</ul>
					</div>
			</nav>
		</header>

		<!-- Begin page content -->
		<main role="main" class="container" style="padding: 72px 15px 0;">

		  
			<button class="btn btn-primary" id="AddTaskButton" type="button"
			  data-toggle="collapse" data-target="#AddEditTask">Add Task</button>

			{% if tasks %}
				<button class="btn btn-primary" id="hide_completed_tasks" type="button"
			 		data-toggle="collapse" style="float:right">Hide completed tasks</button>
			{% endif %}


			  <br>
			  <br>


			<form action="/todolist/create-task/" method="post" id='add_task_form' style="display:none">
			  	{% csrf_token %}

			    <div class="form-group">
					<p>
						<label for="id_title">Title:</label>
						<input class="form-control" type="text" name="title" autofocus="" maxlength="254" required="" id="title" placeholder="Title of the task">
					</p>
			    </div>

			    <div class="form-group">
					<p>
						<label for="id_description">Description:</label>
						<input class="form-control" type="text" name="description" required="" id="description" placeholder="Description of the task">
					</p>
			    </div>

			    <div class="form-group">
			    	<p>
			    		<label for="id_description">Assign To:</label>
			    		<select name="assigned_to" id="assigned_to" class="custom-select mb-3" required="">
			    			{% for user in all_users %}
			    			    <option value="{{user.id}}">{{ user.username }}</option>
			    			{% endfor %}
			    		</select>
			    	</p>
			    </div>
			    <button type="submit" class="btn btn-primary">Submit</button>
			    <button id="cancel_create_task" class="btn btn-success" style="margin-left:12px">Cancel</button>
			</form>

			{% if tasks %}

				<table class="table" id="tasktable">
				    <tr class="nodrop">
						<th>Task</th>
						<th>Created</th>
						<th>Assigned to</th>
						<th>Status</th>
				    </tr>

				    {% for task in tasks %}
						<tr id="{{ task.id }}" class="{% if task.completed %} completed {% else %} pending {% endif %}">
							<td>
								<a href="/todolist/task?task_id={{task.id}}">{{ task.title|truncatewords:10 }}</a>
							</td>
							<td>
								{{ task.created_date|date:"m/d/Y" }}
							</td>
							<td>
								{% if task.assigned_to %}{{ task.assigned_to }}{% else %}Anyone{% endif %}
							</td>
							<td>
								<button class="btn btn-info btn-sm" disabled>
									{% if task.completed %}
									Completed
									{% else %}
									Pending
									{% endif %}
								</button>
							</td>
						</tr>
				    {% endfor %}
				  </table>
				  
		    {% endif %}


		</main>



	</body>
</html>